<h1><%= @section.title %></h1>

<h3><%= link_to "Delete", section_path(@section),
              :data => {:confirm => "You sure?",
                    :method => "delete"} %></h3>
<ul>
  <% @lessons.each do |lesson| %>
  <li><%= link_to lesson.title, section_lesson_path(@section, lesson) %></li>
  <% end %>
</ul>

<p><%= link_to "Add New Lesson", new_section_lesson_path(@section) %></p>

<%= link_to "Table of Contents", chapters_path %>
