<h1>New lesson</h1>

<%= form_for @lesson do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.label :number %>
  <%= f.number_field :number %>
  <%= f.submit  %>
<% end %>
